$green: #077405;
$cyan: #218582;

@mixin someColor($c1, $c2) {
  border-image: linear-gradient(155deg, #8bb28c 0%, #1ce41c 100%) 1 round;
  background: linear-gradient(155deg, #035e06 0%, #acfaaa 100%);

  &:hover,
  &:focus {
    box-shadow: 0 0 0px 1px rgb(33, 137, 37),
      2px 2px 6px rgba(red($c2), green($c2), blue($c2), 0.4),
      -2px -2px 6px rgba(red($c1), green($c1), blue($c1), 0.4);
  }

  background-clip: text;
  -webkit-background-clip: text;
}

.nav-button {
  display: inline-block;

  font-family: "Marvin Visions Variable";
  font-size: 1.3em;
  font-weight: 80;

  color: rgba(255, 255, 255, 0);

  cursor: pointer;

  text-decoration: none;

  margin: 0.6em;

  border-style: solid;
  border-width: 1px;
  transition: all 0.2s ease;

  @include someColor($cyan, $green);

  &:hover,
  &:focus {
    color: rgb(33, 137, 37);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);

    outline: none;
  }
}
