.page-title {
  text-align: center;

  font-family: "Marvin Visions Variable";
  font-size: 3vw;
  font-weight: 50;

  background: url(https://previews.123rf.com/images/ookasan/ookasan1805/ookasan180500994/101596650-nature-green-leaves-wall-texture-of-the-tropical-forest-plant-on-black-background-.jpg)
    no-repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
