@font-face {
  font-family: "Marvin Visions Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}

.App {
  height: 100vh;

  text-align: center;

  background-color: #ccedcc6b;
}

.navigation {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: center;
}

.app-logo {
  text-align: center;
  
  font-family: "Marvin Visions Variable";
  font-size: 6vw;
  font-weight: 150;

  background: url(https://previews.123rf.com/images/ookasan/ookasan1805/ookasan180500994/101596650-nature-green-leaves-wall-texture-of-the-tropical-forest-plant-on-black-background-.jpg)
    no-repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: auto 40px;
}
